{% extends "home_base.html" %} {% block head_content %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/auth/login.css') }}"
/>
{% endblock %} {% endblock %} {% block content %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %} {% for category,
message in messages %}
<div
  class="alert alert-{{ category }} alert-dismissible fade show"
  role="alert"
>
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endif %} {% endwith %}
<div class="form-section">
  <form
    method="POST"
    action="{{url_for('user_bp.submit_login_page')}}"
    class="form-container"
  >
    <h1 class="main-heading">Welcome</h1>

    <p class="login-message">
      Please enter your credentials to access your account
    </p>
    <div class="form-element">
      <label for="username">ID number</label>
      <input type="text" id="username" name="id_number" required />
    </div>
    <div class="form-element">
      <label for="password">Password</label>
      <input type="password" id="password" name="password_hash" required />
    </div>

    <button type="submit" class="btn-login">Login</button>
    <hr />
    <div class="login-footer-text">
      Don't have an account? <a href="/signup" class="login-link">Sign up</a>
    </div>
  </form>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
{% endblock %}
